<launch>        
        <!-- Vision Node -->

        <arg name="node_name" 
        <arg name="topic_name"/>
        <arg name="fd"/>

        <node name="$(arg node_name)" pkg="vision" type="sender" required="true">
          <param name="name" value="$(arg topic_name)"/>
          <param name="fd" value="$(arg fd)"/>
        </node>

</launch>
