# ROS Ignores
ros/build
ros/devel
ros/src/CMakeLists.txt
ros/src/CMakeLists.txt.*

# Other CMake projects
ros/src/gscam

# Python
*.pyo
*.pyc

# Misc things
*/*~
ros/.catkin_workspace
.vscode
ros/test.launch
**/.vsocde

# TensorFlow
ros/src/vision/tensorflow
