<launch>
     <arg name="poll_delay" default="1"/>
     <arg name="start_delay" default="10"/>
     <arg name="front_cam_name" default="topic_face_cam"/>
     <arg name="depth_submerge" default="0.7"/>
     <arg name="depth_rise" default="0.4"/>
     <arg name="depth_delta_max" default="2.0"/>
     <arg name="forwards_delta_max" default="5.0"/>
     <arg name="sideways_delta_max" default="5.0"/>
     <arg name="yaw_delta_max" default="30.0"/>

     <arg name="dead_reckon_gate_count" default="4"/>
     <arg name="dead_reckon_gate_after" default="3"/>
     <arg name="gate_detect_count" default="10"/>
     <arg name="dead_reckon_dice_count" default="5"/>
     <arg name="dead_reckon_dice_after" default="5"/>
     <arg name="dice_detect_count" default="5"/>
     <arg name="depth_ok_thresh" default="0.05"/>
     <arg name="search_count" default="5"/>

     <arg name="forward_location" default="$(find ai)json_cmds/forward.json"/>
     <arg name="forward_start_location" default="$(find ai)json_cmds/start_forward.json"/>
     <arg name="reverse_location" default="$(find ai)json_cmds/reverse.json"/>
     <arg name="reverse_start_location" default="$(find ai)json_cmds/start_reverse.json"/>
     <arg name="submerge_location" default="$(find ai)json_cmds/submerge.json"/>
     <arg name="rise_location" default="$(find ai)json_cmds/rise.json"/>
     <arg name="rotate_cw_location" default="$(find ai)json_cmds/rotate_cw.json"/>
     <arg name="rotate_ccw_location" default="$(find ai)json_cmds/rotate_ccw.json"/>
     <arg name="right_location" default="$(find ai)json_cmds/right.json"/>
     <arg name="left_location" default="$(find ai)json_cmds/left.json"/>
     <arg name="stop_location" default="$(find ai)json_cmds/stop.json"/>
     <arg name="debug" default="false"/>
     <arg name="gdb_prefix" value=""/>
     <group if="$(arg debug)">
            <arg name="gdb_prefix" value="xterm -e gdbtui --args"/>
     </group>
     
    <node name="ai_master" pkg="ai" type="master" required="true" launch-prefix="$(arg gdb_prefix)">

        <param name="dead_reckon_gate_count" value="$(arg dead_reckon_gate_count)"/>
        <param name="dead_reckon_gate_after" value="$(arg dead_reckon_gate_after)"/>
        <param name="gate_detect_count" value="$(arg gate_detect_count)"/>
        <param name="dead_reckon_dice_count" value="$(arg dead_reckon_dice_count)"/>
        <param name="dead_reckon_dice_after" value="$(arg dead_reckon_dice_after)"/>
        <param name="dice_detect_count" value="$(arg dice_detect_count)"/>
        <param name="search_count" value="$(arg search_count)"/>
        <param name="depth_ok_thresh" value="$(arg depth_ok_thresh)"/>
        <param name="can_start" value="true"/>
        <param name="start_delay" value="$(arg start_delay)"/>
        <param name="poll_delay" value="$(arg poll_delay)"/>
        <param name="depth_submerge" value="$(arg depth_submerge)"/>
        <param name="depth_rise" value="$(arg depth_rise)"/>
        <param name="depth_delta_max" value="$(arg depth_delta_max)"/>
        <param name="forwards_delta_max" value="$(arg forwards_delta_max)"/>
        <param name="sideways_delta_max" value="$(arg sideways_delta_max)"/>
        <param name="yaw_delta_max" value="$(arg yaw_delta_max)"/>
        <param name="stop_location" value="$(arg stop_location)"/>
        <param name="front_cam_name" value="$(arg front_cam_name)"/>
        <param name="forward_location" value="$(arg forward_location)"/>
        <param name="forward_start_location" value="$(arg forward_start_location)"/>
        <param name="reverse_location" value="$(arg reverse_location)"/>
        <param name="reverse_start_location" value="$(arg reverse_start_location)"/>
        <param name="submerge_location" value="$(arg submerge_location)"/>
        <param name="rise_location" value="$(arg rise_location)"/>
        <param name="rotate_cw_location" value="$(arg rotate_cw_location)"/>
        <param name="rotate_ccw_location" value="$(arg rotate_ccw_location)"/>
        <param name="right_location" value="$(arg right_location)"/>
        <param name="left_location" value="$(arg left_location)"/>
    </node>
</launch>
