<launch>
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" required="true"/>   
    <node name="roslibjs" pkg="rosbridge_server" type="rosbridge_websocket" required="true"/>
    <node name="webserver" pkg="webgui" type="server.py" required="true"/>
    <node name="rosapi" pkg="rosapi" type="rosapi_node">
        <param name="topics_glob" value="[*]" />
        <param name="services_glob" value="[*]" />
        <param name="params_glob" value="[*]" />
    </node>
</launch>
