img{
    max-width:100%;
}

#ros_out_node p {
    margin: 0px;
}

#main-video-selector{
    min-width: 100%;
}

#main-video-stream{
    min-width: 100%;
}

.ros_topic_title{
    font-weight: bold;
    font-size: medium;
}

.IMU_Data p{
    margin:0px;
}