<launch>
    <!-- Arguments that can be overriden from the command line-->
    <!-- Append argname:=argvalue to roslaunch command in order to override -->
    <arg name="record" default="true"/>
    <arg name="save_location" default="$(env HOME)/rosbag/main_"/>
    <arg name="max_linear_vel" value="5.0"/>
    <arg name="max_angular_vel" value="180.0"/>
    <arg name="front_camera" value="front_camera"/>

    <!-- Included include files -->
    <!-- Vision Nodes -->
    <include file="$(find webgui)/webgui.launch"/>
    <!--include file="$(find vision)/launchfiles/camera.launch">
        <arg name="node_name" value="bottom_camera"/>
        <arg name="fps" value="1"/>
        <arg name="fd" value="/dev/video1"/>
        <arg name="record" value="$(arg record)"/>
    </include-->
    <include file="$(find vision)/launchfiles/camera.launch">
        <arg name="node_name" value="$(arg front_camera)"/>
        <arg name="fps" value="1"/>
        <arg name="fd" value="/dev/video1"/>
        <arg name="record" value="$(arg record)"/>
    </include>
    <include file="$(find vision)/launchfiles/jetson_csi_cam.launch">
        <arg name="record" value="$(arg record)"/>                       
    </include>
    <include file="$(find vision)/launchfiles/scanner.launch">
        <arg name="cam_name" value="$(arg front_camera)"/>
    </include>
    <include file="$(find vision)/launchfiles/dice.launch">
        <arg name="cam_name" value="$(arg front_camera)"/>
    </include>
    <!--include file="$(find vision)/launchfiles/classifier.launch"/-->

    <!-- Peripheral/Monitor Nodes -->
    <include file="$(find monitor)/launchfiles/serial.launch"/>
    <include file="$(find peripherals)/launchfiles/power_board.launch"/>
    <include file="$(find peripherals)/launchfiles/imu.launch"/>
    <!--include file="$(find peripherals)/launchfiles/hydrophones.launch"/-->
    <include file="$(find peripherals)/launchfiles/motors.launch"/>

    <!-- Navigation Nodes -->
    <include file="$(find navigation)/launchfiles/control_system.launch">
        <arg name="max_linear_vel" value="$(arg max_linear_vel)"/>
        <arg name="max_angular_vel" value="$(arg max_angular_vel)"/>
    </include>
    <include file="$(find navigation)/launchfiles/thrustmap.launch">
        <arg name="max_linear_vel" value="$(arg max_linear_vel)"/>
        <arg name="max_angular_vel" value="$(arg max_angular_vel)"/>
    </include>
    <include file="$(find navigation)/launchfiles/rpm_controller.launch"/>

    <!-- AI Nodes -->
    <include file="$(find ai)/launchfiles/autostart.launch">
        <arg name="front_cam_name" value="$(arg front_camera)"/>
    </include>

    <group if="$(arg record)">
        <node name="rosbag" pkg="rosbag" type="record"  args="-o $(arg save_location) -a -x /video/(.*)"/> 
    </group> 
</launch>
