<launch>
    
    <arg name="front_camera" value="front_camera"/>
    <arg name="record" value="false"/> 

    <include file="$(find webgui)/webgui.launch"/>
    <!--include file="$(find vision)/launchfiles/scanner.launch">
        <arg name="cam_name" value="$(arg front_camera)"/>
    </include-->
    <!--include file="$(find vision)/launchfiles/dice.launch">
        <arg name="cam_name" value="$(arg front_camera)"/>
    </include-->

    <include file="$(find vision)/launchfiles/camera.launch">
        <arg name="node_name" value="$(arg front_camera)"/>
        <arg name="fps" value="50"/>
        <arg name="fd" value="/home/asinha/Documents/GOPR1151.MP4"/>
        <arg name="record" value="false"/>
        <arg name="is_device" value="false"/>
    </include>
    <!--include file="$(find vision)/launchfiles/camera.launch">
        <arg name="node_name" value="$(arg front_camera)"/>
        <arg name="fps" value="1"/>
        <arg name="fd" value="/dev/video0"/>
        <arg name="record" value="$(arg record)"/>
    </include-->

    <!--<include file="$(find vision)/launchfiles/jetson_csi_cam.launch">
        <arg name="record" value="$(arg record)"/>                       
    </include-->
</launch>
