<launch>
    <include file="$(find vision)/launchfiles/camera_one.launch"/>
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" required="true"/>
    <node name="roslibjs" pkg="rosbridge_server" type="rosbridge_websocket" required="true">
    <node name="webserver" pkg="webgui" type="server.py" required="true"/>
</launch>