<launch>
    <!-- Arguments that can be overriden from the command line-->
    <!-- Append argname:=argvalue to roslaunch command in order to override -->
    <arg name="record" default="false"/>
    <arg name="save_location" default="$(env HOME)/rosbag/auvic"/>
    <arg name="only_compressed_regex" value="-e &quot;(^\/video(.*)compressed$)|(^(?!\/video).*$)&quot;"/>

    <!-- Included include files -->
    <include file="$(find webgui)/webgui.launch"/>
    <include file="$(find vision)/launchfiles/camera.launch">
        <arg name="fd" value="/dev/video1"/>
    </include>
    <!--include file="$(find vision)/launchfiles/jetson_csi_cam.launch"/-->      
    <include file="$(find monitor)/launchfiles/serial.launch"/>
    <include file="$(find peripherals)/launchfiles/power_board.launch"/>
    <include file="$(find peripherals)/launchfiles/imu.launch"/>
    <include file="$(find peripherals)/launchfiles/motors.launch"/>
    <!--include file="$(find vision)/launchfiles/classifier.launch"/-->
    <!--include file="$(find vision)/launchfiles/sonia_bag.launch">
        <arg name="loc" value="/home/asinha/Documents/buoys/buoys-14h48-1.bag"/>
    </include-->

    <!-- Nodes that do not need launch files -->
    <node name="rov" pkg="navigation" type="rov"/>
    <node name="thrustmap" pkg="navigation" type="thrustmap"/>

    <group if="$(arg record)">
        <node name="rosbag" pkg="rosbag" type="record"  args="-o $(arg save_location) $(arg only_compressed_regex)"/> 
    </group> 
</launch>
